@import '../../global/variables.module.scss';

.adminSideMenu {
  
  @include tablet-landscape {
    display: flex;
    justify-content: space-between;  
  }

  .sideMenu {
    display: none;
    flex: 1;
    padding-right: 1rem;
    border-right: 1px solid #808080;

    @include tablet-landscape {
      display: flex;
    }
  }

  .mainContent {
    

    @include tablet-landscape {
      display: flex;
      flex-direction: column;
      flex: 4;
      margin: 0 5rem;
    }
  }
}