@import '../../global/variables.module.scss';

.mobileMenu {
  position: absolute;
  right: 5px;
  top: 60px;
  background: $color-secondary;
  width: 250px;
  z-index: 3;
  border-bottom: 2px solid $color-secondary; 
  border-left: 10px solid $color-secondary;
  border-radius: 20px 0 10px 15px;
  box-shadow: -5px 3px 10px black;
  

  .wrapper {
    position: relative;
    padding: 15px;
    background: $color-bg;
    border-bottom: 3px solid $color-secondary;
    border-left: 5px solid $color-secondary;
    border-radius: 20px 0 10px 10px;

    ul {


      li {
        margin: 30px 10px;
        padding-left: 10px;
        border-left: 5px solid $color-primary;
      }
    }

    .closeBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: $fontAwesome-mobile;
    }
  }
}

.hideAdmin {
  display: none;
}

.showAdmin {
  display: block;

  .mobileMenu {
    right: 80px;
  }
}

.hideMobile {
  display: none;
}

.showMobile {
  display: block;
}