@import '../../global/variables.module.scss';

.nav {
  padding: 10px 25px;
  position: relative;

  @include tablet-landscape {
    display: flex;
    justify-content: space-between;
  }

  @include desktop-small {
    margin: 0 auto;
    max-width: 1500px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .brandWrapper {
      position: relative;
      display: flex;
      flex-direction: column;

      .logo {
        cursor: pointer;
      }

      span {
        font-size: 14px;
      }
    }
    .navMenu {
      display: flex;

      .loggedIn {
        display: flex;
        align-items: center;

        .userIcon {
          color: $color-green;
        }
  
        p {
          font-size: 14px;
          margin: 0 15px 0 5px;
          color: $color-green;
        }
      }
      
      .mobileMenu {
        font-size: $fontAwesome-mobile;

        @include tablet-landscape {
          display: none;
        }
      }
    }

    @include tablet-portrait {
      width: 100%;
      
      .loggedIn {
        margin-left: 20px;
      }
    }
  }
}


  



