@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
@import '../global/variables.module.scss';

/* 
font-family: 'Nunito', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

$fontAwesome-mobile: 20px;

html,
body,
ul,
input:not(input[type='submit']),
textarea {
  font-size: $text;
  color: $color-primary;
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  height: 100%;
}

h1 {
  margin: 40px 0;
  font-size: $main-heading;

  @include tablet-landscape {
    font-size: $main-heading * 1.5;
  }
}

h2 {
  font-size: $sub-heading;

  @include tablet-landscape {
    font-size: $sub-heading * 1.5;
  }
}

input:not(input[type='submit']), textarea {
  margin-bottom: 20px;
  background: $color-bg;
  border: none;
  border-bottom: 1px solid black;
  padding: 10px 6px;
}

input:not(input[type='submit'])::placeholder, textarea::placeholder {
  color: $color-primary;
}

input:not(input[type='submit']) {
  height: 35px;
}

textarea {
  margin: 0 0 10px;
}

input:not(input[type='submit']):focus::placeholder, textarea:focus::placeholder {
  color: transparent;
}

input[type='submit'] {
  background: $color-secondary;
  border: none;
  color: white;
  font-family: 'Nunito';
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

p, a, span, input {
  font-size: $text;

  @include tablet-landscape {
    font-size: $text * 1.05;
  }
}

* {
  box-sizing: border-box;
}

