@import '../global/variables.module.scss';

.container {
  max-width: 90%;
  margin: 20px auto 40px;

  @include tablet-landscape {
    max-width: 950px;
  }
}

.button {
  font-size: $text;
  color: white;
  background: $color-secondary;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-top: 1.5rem;
  text-align: center;
}
