@import '../global/variables.module.scss';

.notFound {
  margin: 150px auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  

  .error {
    display: flex;

    h1 {
      padding: 25px;
      
    }
  
    h1:last-of-type {
      border-left: 1px solid $color-primary;
      padding-left: 20px;
    }
  }
}