/*    FONT SIZES    */

// FONT-AWESOME
$fontAwesome-mobile: 22px;
$fontAwesome-btnIcon: 25px;

// FONT-SIZES MOBILE
$main-heading: 22px;
$sub-heading: 18px;
$text: 16px;

/*    COLORS    */
$color-primary: #213058;
$color-secondary: #C83259;
$color-error: #FF7800;
$color-bg: #F1F1F1;
$color-green: #28696A;

/*    MIXINS    */

// @mixin mobile {
//   @media (max-width: 479px) { @content; }
// }

@mixin tablet-portrait {
  @media (min-width: 480px) { @content; }
}

@mixin tablet-landscape {
  @media (min-width: 900px) { @content; }
}

@mixin desktop-small {
  @media (min-width: 1200px) { @content; }
}

@mixin desktop-large {
  @media (min-width: 1800px) { @content; }
}