@import '../../global/variables.module.scss';

.wrapper {
  max-width: 440px;
  margin: 0 auto;

  .form {
    background: $color-bg;
    border: none;
    border-radius: 10px;
  
    .heading {
      background: $color-primary;
      color: white;
      text-align: center;
      padding: 10px;
      border-radius: 10px 10px 0 0;
  
      h2 {
        font-weight: 400;
        margin: 0;
      }
    }
  
    .contentWrapper {
      display: flex;
      margin: 0 auto;
      flex-direction: column;
      padding: 40px 0;
      max-width: 80%;
  
      // address section, narrow
      .addressGroup {
        display: flex;
        align-self: flex-start;
        justify-content: flex-start;
        width: 100%;
      }
  
      // upload section
      .upload {
  
        input[type='file'] {
          border: none;
        }
  
        input[type='file']::-webkit-file-upload-button {
          display: none;
        }
  
        input[type='file']::before {
          content: 'Select image';
          margin-right: 5px;
          display: inline-block;
          background: $color-secondary;
          color: white;
          padding: 7px;
          font-weight: 700;
        }

        input:hover {
          cursor: pointer;
        }
      }
  
      // general input styling
      .inputGroup {
        position: relative;
        display: flex;
        margin: 0 5px;
  
        span {
          position: absolute;
          left: 7px;
          top: 2px;
          font-size: 14px;
        }
  
        input {
          width: 100%;
          height: 50px;
          padding-bottom: 1px;
        }
  
        input[name='rating'] {
          margin-top: 30px;
          padding-bottom: 7px;
  
          width: 50px;
          height: 30px;
        }
  
        textarea {
          width: 100%;
          height: 120px;
          padding-top: 25px;
        }
      }
  
       // checkboxes
      .checkboxes {
        display: flex;
        width: 100%;
  
        input {
          height: 21px;
          width: 30px;
        }
      }
    }
    .message {
      visibility: hidden;

      p {
        margin: 0;
      }
    }

    .messageError {
      visibility: visible;
      margin-left: 5px;
      
      p {
        color: $color-secondary;
      }
    }

    .messageSuccess {
      visibility: visible;
      margin-left: 5px;

      p {
        color: $color-green;
      }
    }
  }
}

.danger {
  border: 1px solid $color-secondary !important;
}