@import '../global/variables.module.scss';

.form {
  margin: 0 auto;
  background: $color-bg;
  border: none;
  border-radius: 10px;
  max-width: 420px;

  .heading {
    background: $color-primary;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;

    h2 {
      font-weight: 400;
      margin: 0;
    }
  }

  .wrapper {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 40px 0;
    max-width: 80%;

    label {
      margin: 20px 0 0;
    }

    label:first-of-type {
      margin: 0;
    }

    input, textarea {
      margin-bottom: 20px;
      background: $color-bg;
      border: none;
      border-bottom: 1px solid black;

      padding: 10px 6px;
      font-size: 17px;
    }

    input::placeholder, textarea::placeholder {
      color: $color-primary;
    }

    input {
      height: 35px;
    }

    textarea {
      margin: 0 0 10px;
    }

    input:focus::placeholder, textarea:focus::placeholder {
      color: transparent;
    }
  }
}