@import '../global/variables.module.scss';

.nav {
  padding: 20px 25px;
  position: relative;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navMenu {
      display: flex;

      .admin, .mobileMenu {
        font-size: $fontAwesome-mobile;
      }

      .admin {
        margin-right: 15px;
      }
    }
  }
}


  



