@import '../global/variables.module.scss';

.travelTips {
  margin-top: 350px;

  .image {
    position: relative;
    margin-bottom: 20px;
    min-width: 100%;

    .imageTag {
      color: white;
      position: absolute;
      padding: 0 10px;
      left: 0;
      top: 0;
      background-color: $color-secondary;
    }
  }
}