@import '../../global/variables.module.scss';


.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;

  @include tablet-landscape {
    // max-width: 48%; 
    border: none;
    flex-direction: row;
    max-width: none;
    justify-content: space-between;
  }

  .establishment {

    @include tablet-landscape {
      max-width: 50%;
    }
    .heading {
      display: flex;
      justify-content: space-between;
    }
  
    .textBox {
      display: flex;
      flex-direction: column;
      padding: 0 10px;
  
      .description {
        
        .descriptionHeader {
          display: flex;
          align-items: center;
          justify-content: space-between;

  
          .number {
            background: $color-green;
            color: white;
            font-size: 21px;
            padding: 2px 10px;
          }
  
          h2:last-child {
            display: inline;
            padding-left: 5px;
          }
        }

        p {
          margin: 0 0 40px;
        }
      }
  
      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
  
        .address {
          
          .addressIcon {
            display: flex;
  
            p {
              margin-left: 5px;
            }
          }
  
          p {
            margin: 0;
          }
        }
  
        .options {
          color: $color-green;
          list-style-type: initial;
          padding-left: 20px;
          margin-top: 15px;
  
          .danger {
            color: $color-error;
          }
        }

        @include tablet-portrait {
          flex-direction: row;

          .options {
            margin-top: 0;
          }
        }
      }
  
      .button {
        display: inline-block;
        width: 100%;
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}
// }