@import '../../global/variables.module.scss';

.establishments {
  position: relative;

  @include tablet-landscape {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
  }

  .establishment {
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    padding: 20px 0;

    @include tablet-landscape {
      max-width: 48%; 
      border: none;
    }

    .textBox {
      display: flex;
      flex-direction: column;
      padding: 0 10px;

      .heading {
        display: flex;
        justify-content: space-between;
      }

      .text {
        display: flex;
        justify-content: space-between;
        

        .address {
          
          .addressIcon {
            display: flex;

            p {
              margin-left: 5px;
            }
          }

          p {
            margin: 0;
          }
        }

        .options {
          color: $color-green;
          list-style-type: initial;

          .hiddenListItem {
            display: none;
          }
        }
      }

      .button {
        display: inline-block;
        width: 50%;
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
  .establishment:first-of-type {
    border-top: none;
  }

  .establishment:last-of-type {
    border-bottom: none;
  }

  .establishment:nth-of-type(4n+1), .establishment:nth-of-type(4n+2) {

    @include tablet-landscape {
      border-top: 1px solid #808080;
    }
  }

  .establishment:nth-of-type(4n+3), .establishment:nth-of-type(4n+4) {
    
    @include tablet-landscape {
      border-top: 1px solid #808080;
    }
  }
}