@import '../../global/variables.module.scss';

.nationList {
  padding: 25px 0 5px 2px;
  background: $color-bg;
  border: 1px solid black;
  margin-bottom: 20px;
}

.nationListError {
  padding: 25px 0 5px 2px;
  background: $color-bg;
  border: 1px solid $color-secondary;
  margin-bottom: 20px;
}