@import '../../global/variables.module.scss';


.form {
  margin: 25px 0;
  background: $color-bg;
  border: none;
  border-radius: 10px;

  .contentWrapper {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 20px 0;
    max-width: 90%;

    // address section, narrow
    .addressGroup {
      display: flex;
      align-self: flex-start;
      justify-content: flex-start;
      width: 100%;
    }

    // general input styling
    .inputGroup {
      position: relative;
      display: flex;
      margin: 0 5px;

      span {
        position: absolute;
        left: 7px;
        top: 2px;
        font-size: 14px;
      }

      input {
        width: 100%;
        height: 50px;
        padding-bottom: 1px;
      }

      textarea {
        width: 100%;
        height: 120px;
        padding-top: 25px;
      }
    }

    .inputGroups {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      
      

      .col {
        position: relative;
        width: 47%;
        margin: 0 5px;

        input {
          width: 100%;
          border: 1px solid black;
          padding-top: 35px;
        }

        span {
          position: absolute;
          left: 7px;
          top: 2px;
          font-size: 14px;
        }
      }

      .qty {
        position: relative;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        max-width: 47%;
        margin: 0 5px 20px 5px;
        text-align: center;
        
        .qtyAction {

          display: flex;
          align-items: center;

          .actionButton {
            font-size: 21px;
            display: inline;
            cursor: pointer;
          }

          input {
            font-size: 19px;
            padding-bottom: 15px;
            margin: 15px 5px 10px 5px;
            width: 25px;
            text-align: center;
            border: none;
          }

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }


        }

        span {
          position: absolute;
          left: 7px;
          top: 2px;
          font-size: 14px;
        }
      }
    }

    .checkboxes {
      display: flex;
      width: 100%;

      input {
        height: 21px;
        width: 30px;
      }
    }

    .message {
      visibility: hidden;

      p {
        margin: 0;
      }
    }

    .messageError {
      visibility: visible;
      margin-left: 5px;
      
      p {
        color: $color-secondary;
      }
    }

    .messageSuccess {
      visibility: visible;
      margin-left: 5px;

      p {
        color: $color-green;
      }
    }
  }
}

.danger {
  border: 1px solid $color-secondary !important;
}
