@import '../../global/variables.module.scss';

.wrapper {

  .travelTips {
    
    @include tablet-landscape {
      display: flex;
      justify-content: space-between;
      
    }

    .image {
      position: relative;
      margin-bottom: 20px;
      min-width: 100%;
  
      @include tablet-landscape {
        min-width: 0;
        max-width: 48%;
        // margin: 20px;
      }

      .imageTag {
        color: white;
        position: absolute;
        padding: 0 10px;
        left: 0;
        top: 0;
        background-color: $color-secondary;
      }
    }

    .image:hover {
      cursor: pointer;
    }
  }
}
