@import '../../global/variables.module.scss';

.hero {
  position: relative;
  margin-bottom: 250px;
  
  .bgWrapper {
    position: absolute;
    top: -50px;
    height: 60vh;
    max-height: 440px;
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    z-index: -1;
  }

  @include tablet-portrait {
    height: 20vh;
  }
}