@import '../../global/variables.module.scss';

.formWrapper {
  margin: 50px auto;
  padding: 30px 10px;
  background-color: $color-bg;
  width: 90%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);

  @include tablet-portrait {
    max-width: 430px;
    margin-top: 80px;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;

    

    .searchWrap {
      position: relative;

      .icon {
        color: #808080;
        position: absolute;
        top: 8px;
        left: 10px;
        font-size: $fontAwesome-mobile;
      }

      input {
        background-color: white;
        font-size: $sub-heading;
        padding-left: 45px;
        height: 40px;
        width: 100%;
      }

      ul {
        background: white;
        position: absolute;
        left: 0;
        top: 40px;
        width: 100%;

        li {
          padding: 5px;
        }
      }
    }
    
  }
}

